<html>
<head>
  <title>Produktpresenterare - {{cafe.name}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
	body {
		background: #222;
	}
	.row.content {
		height: 85%;
	}
	header {
		height: 10%
	}
	footer {
		height: 5%;
		background-color: #622;
		color: white;
		padding-top: 15px
	}
	h1 {
		font:42px/44px 'scouternadinpro-medium-webfont', Arial, Helvetica, sans-serif;
		font-size: 46;
		color: white;
	}
	.aventyr {
		background-color: #CA542A;
		color: white;
	}
	body {
		overflow: hidden;
	}
</style>
  <script>
  var displayTime = 8000;
  var cafe_id = {{cafe.id}};
$(document).ready(function(){
	load_products();
	setTimeout(function(){
		animera();
	},1000);
window.setInterval(function(){
	load_products();
}, 10000);
});
   	var products = [];
  function load_products(){
	//Loads all products, caches them and looks for updates every minute.
	$.getJSON( "{{url_for('api_get_cafe', id=cafe.id)}}", function( data ){
			$.each(data.product_ids, function(i,val){
				console.log(val)
				// Only add it if it doesn't exist
				if($("#product_"+val).length == 0){
		//TODO: This can never update a product, nor remove one.
				$.getJSON( "/api/product/"+val, function( data ){
					products.push(data);
				//Put the product in the slideshow if it is active
					if(data.active){
			
					$("#products").append(
	"<div id='product_"+val+"' style=\"display: none\"><p class=\"product_name\">"+data.name+"</p><p class=\"product_price\">"+data.price+" kr</p><img src=\""+data.picture_url+"\" class=\"product_image\"></div>");
				// Also put it in the list of products
				$("#all_products").append("<div class=\"col-sm-12\" id=\"list_"+val+"\"><p class=\"list_name\">"+data.name+" "+data.price+" kr</p></div>");
					}
				});
				}
			});
			});
  }

function animera(){
	$("#products").children().each(function(idx, product){
	//animate the slideshow
		$(this).delay(displayTime*idx)
		.fadeIn(displayTime*0.05, queue=false)
		.delay(displayTime*0.89)
		.fadeOut(displayTime*0.05, queue=false);

	//resize the image to fit.
	/*
		We want to keep the aspect ratio
		We want the image to be of max width = 90% of the containing div
		We want the image to be of max height = 90% of the containing div
	*/
		$(this).children("img").css('height', '60%');

	//retrigger the animation loop	
		if((idx+1) == $("#products").children().length){
			console.log("last product");
			setTimeout(function(){
				animera();
			},displayTime*(idx+1));
			//$(this).delay(1000,animera);
		}	
	});
}
  </script>
</head>
<body class="aventyr">
<header>
<h1>hej hej</h1>
</header>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-9" id="products">
		</div>
		<div class="col-sm-3" id="all_products">
		</div>
	</div>
</div>
<footer class="container-fluid">
  <p>footer - produktpresenteraren v0.01 - Av Jesper Björkman</p>
</footer>
</body>
<script>
</script>
</html>
